@font-face {
  font-family: "shrikhandregular";
  src: url("../../police/shrikhand/shrikhand-regular-webfont.eot");
  src: url("../../police/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../police/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../../police/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("../../police/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("../../police/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../../police/roboto_thin/roboto-thin-webfont.eot");
  src: url("../../police/roboto_thin/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../police/roboto_thin/roboto-thin-webfont.woff2") format("woff2"), url("../../police/roboto_thin/roboto-thin-webfont.woff") format("woff"), url("../../police/roboto_thin/roboto-thin-webfont.ttf") format("truetype"), url("../../police/roboto_thin/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../../police/roboto_regular/roboto-regular-webfont.eot");
  src: url("../../police/roboto_regular/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../police/roboto_regular/roboto-regular-webfont.woff2") format("woff2"), url("../../police/roboto_regular/roboto-regular-webfont.woff") format("woff"), url("../../police/roboto_regular/roboto-regular-webfont.ttf") format("truetype"), url("../../police/roboto_regular/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes loading-screen {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-3000px);
  }
}
@keyframes loading-circle {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dishes {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: loading-screen 1ms 3000ms linear forwards;
  z-index: 20;
}
.screen .loading-spinner {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  height: 100px;
}
.screen .loading-spinner__circle {
  position: relative;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: loading-circle 1300ms ease-in-out;
}
.screen .loading-spinner__circle--1 {
  animation-delay: 433.3333333333ms;
}
.screen .loading-spinner__circle--2 {
  animation-delay: 866.6666666667ms;
}
.screen .loading-spinner__circle--3 {
  animation-delay: 1300ms;
}

* {
  box-sizing: border-box;
  font-family: "robotoregular";
}

footer h5, h1 {
  font-family: "shrikhandregular";
}

h3, .menu h2 {
  font-style: normal;
  font-family: "robotothin";
}

.menu__bubble h3 {
  font-family: "robotoregular";
}

body {
  margin: 0;
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 1.3rem;
  }
}

.restaurant__div, .functioning__div {
  padding: 30px 0 50px 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

.location__div {
  background-color: #ececec;
}

.new {
  background-color: #99E2D0;
  color: #278870;
}

footer {
  background-color: #353535;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 990px) {
  header {
    position: relative;
    z-index: 2;
    background-color: white;
  }
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  header .container {
    justify-content: flex-start;
    width: 90%;
  }
}
header .container img {
  width: 170px;
  height: auto;
  margin: 20px 0;
}
@media screen and (min-width: 800px) {
  header .container img {
    width: 150px;
  }
}
header .container a {
  position: absolute;
  left: 20px;
  font-size: 1.4rem;
  color: #333333;
}
@media screen and (min-width: 800px) {
  header .container a {
    left: 5%;
    color: transparent;
    width: 170px;
    height: 30px;
  }
}

.location__div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 13px 14px -13px #b6b6b6;
}
.location__div p {
  width: 170px;
}
.location__div p .fa-location-dot {
  font-size: 1.1rem;
}
@media screen and (min-width: 800px) {
  .location__div p .fa-location-dot {
    font-size: 1rem;
  }
}
.location__div p span {
  margin-left: 16px;
  font-size: 1.12rem;
}
@media screen and (min-width: 800px) {
  .location__div p span {
    font-size: 1rem;
  }
}

.reservation__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px 0;
}
.reservation__section--gray {
  background-color: #F6F6F6;
}
.reservation__section h2 {
  text-align: center;
  width: 70%;
  margin: 0;
}
.reservation__section h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px 0 30px 0;
  width: 90%;
}
@media screen and (min-width: 800px) {
  .reservation__section h3 {
    font-size: 1.1rem;
  }
}

.functioning__div h2 {
  margin-bottom: 30px;
}
@media screen and (min-width: 990px) {
  .functioning__div h2 {
    margin: 0 auto 30px auto;
  }
}
.functioning__div .functioning__steps {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  padding-left: 12.5px;
  margin: 0 auto;
}
@media screen and (min-width: 650px) {
  .functioning__div .functioning__steps {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    padding: 6.5px 0 0 6.5px;
  }
}
@media screen and (min-width: 990px) {
  .functioning__div .functioning__steps {
    padding: 17.5px 0 0 0;
  }
}
.functioning__div .functioning__steps .step {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  margin-bottom: 25px;
  padding-left: 35px;
  box-shadow: 0px 5px 15px -3px #b6b6b6;
}
@media screen and (min-width: 650px) {
  .functioning__div .functioning__steps .step {
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 30%;
    padding: 15px;
  }
}
@media screen and (min-width: 990px) {
  .functioning__div .functioning__steps .step {
    flex-direction: row;
    justify-content: center;
    max-width: 350px;
  }
}
.functioning__div .functioning__steps .step--gray {
  background-color: #F6F6F6;
}
.functioning__div .functioning__steps .step--violet {
  background-color: rgba(147, 86, 220, 0.12);
}
.functioning__div .functioning__steps .step .number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12.5px;
  font-size: 0.9rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 650px) {
  .functioning__div .functioning__steps .step .number {
    top: -6.5px;
    left: -6.5px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 990px) {
  .functioning__div .functioning__steps .step .number {
    left: 44%;
    top: -17.5px;
    width: 35px;
    height: 35px;
  }
}
.functioning__div .functioning__steps .step .fa-solid {
  font-size: 1.3rem;
}
@media screen and (min-width: 800px) {
  .functioning__div .functioning__steps .step .fa-solid {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 990px) {
  .functioning__div .functioning__steps .step .fa-solid {
    position: absolute;
    left: 7%;
  }
}
.functioning__div .functioning__steps .step .fa-mobile-screen-button, .functioning__div .functioning__steps .step .fa-list-ul {
  color: #838383;
}
.functioning__div .functioning__steps .step .fa-store {
  color: #9356DC;
}
.functioning__div .functioning__steps .step span {
  margin-left: 35px;
  font-size: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 650px) {
  .functioning__div .functioning__steps .step span {
    margin: 15px 0 0 0;
    text-align: center;
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 800px) {
  .functioning__div .functioning__steps .step span {
    margin-top: 20px;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 990px) {
  .functioning__div .functioning__steps .step span {
    margin: 0 0 0 25px;
  }
}

.restaurant__div--gray {
  background-color: #F6F6F6;
}
.restaurant__div h2 {
  margin-bottom: 30px;
}
@media screen and (min-width: 650px) {
  .restaurant__div .container__restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 650px) {
  .restaurant__div .container__restaurant-cards a {
    width: 48%;
    height: 230px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 990px) {
  .restaurant__div .container__restaurant-cards a {
    /*width: 23%;*/
    height: 270px;
  }
}

main img {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 270px;
  object-fit: cover;
}
@media screen and (min-width: 650px) {
  main img {
    height: 300px;
  }
}
@media screen and (min-width: 800px) {
  main img {
    height: 325px;
  }
}
@media screen and (min-width: 990px) {
  main img {
    position: fixed;
    height: 100%;
    width: auto;
    z-index: 1;
  }
}
main section {
  flex-direction: column;
  position: relative;
  z-index: 2;
  top: -45px;
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  padding: 30px 0 70px 0;
  margin-bottom: -45px;
}
@media screen and (min-width: 650px) {
  main section {
    padding-top: 50px;
  }
}
@media screen and (min-width: 990px) {
  main section {
    width: 50%;
    border-radius: 40px 0 0 40px;
    top: 0;
    right: -50%;
    margin-bottom: 0;
  }
}
main section .container {
  width: 85%;
  max-width: 550px;
}
main section article {
  padding: 25px 0 30px 0;
}
@media screen and (min-width: 650px) {
  main section article {
    padding-top: 35px;
  }
}
@media screen and (min-width: 990px) {
  main section article {
    padding-top: 15px;
  }
}
main section .container__title {
  display: flex;
  justify-content: flex-start;
}
main section .container__title h1 {
  margin: 0;
  font-size: 1.8rem;
}
@media screen and (min-width: 650px) {
  main section .container__title h1 {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 990px) {
  main section .container__title h1 {
    font-size: 1.5rem;
  }
}
main section .container__title .title-heart {
  flex: 1;
  min-width: 60px;
  height: 33.11px;
  position: relative;
}
main section .container__title .heart-icon {
  position: absolute;
  right: 20px;
  font-size: 1.6rem;
}
@media screen and (min-width: 990px) {
  main section .container__title .heart-icon {
    font-size: 1.5rem;
  }
}
main section .container__title .fa-solid {
  color: #9356DC;
  opacity: 0;
}
main section .container__title .fa-solid:hover {
  animation: heart 400ms forwards;
}
main section .menu h2 {
  text-transform: uppercase;
  font-size: 1.05rem;
  margin-bottom: 7px;
}
@media screen and (min-width: 650px) {
  main section .menu h2 {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 990px) {
  main section .menu h2 {
    font-size: 0.9rem;
  }
}
main section .menu__line {
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 20px;
}
main section .menu__bubble {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  margin: 15px auto 0 auto;
  border-radius: 15px;
  box-shadow: 0px 5px 15px -3px #b6b6b6;
  animation: dishes 2000ms ease-in-out forwards;
  opacity: 0;
  overflow: hidden;
}
main section .menu__bubble--1 {
  animation-delay: 130ms;
}
main section .menu__bubble--2 {
  animation-delay: 260ms;
}
main section .menu__bubble--3 {
  animation-delay: 390ms;
}
main section .menu__bubble--4 {
  animation-delay: 520ms;
}
main section .menu__bubble--5 {
  animation-delay: 650ms;
}
main section .menu__bubble--6 {
  animation-delay: 780ms;
}
main section .menu__bubble--7 {
  animation-delay: 910ms;
}
main section .menu__bubble--8 {
  animation-delay: 1040ms;
}
main section .menu__bubble--9 {
  animation-delay: 1170ms;
}
main section .menu__bubble--10 {
  animation-delay: 1300ms;
}
@media screen and (min-width: 650px) {
  main section .menu__bubble {
    margin-top: 25px;
  }
}
@media screen and (min-width: 990px) {
  main section .menu__bubble {
    height: 75.4px;
  }
}
main section .menu__bubble:hover > .menu__check {
  width: 60px;
}
main section .menu__bubble:hover > .menu__check .fa-circle-check {
  transform: translateX(0) rotate(360deg);
}
main section .menu__bubble .menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 0;
  height: 77.08px;
  border-radius: 0 14px 14px 0;
  overflow: hidden;
  transition-duration: 700ms;
}
@media screen and (min-width: 650px) {
  main section .menu__bubble .menu__check {
    height: 80px;
  }
}
@media screen and (min-width: 990px) {
  main section .menu__bubble .menu__check {
    height: 75.4px;
  }
}
main section .menu__bubble .menu__check .fa-circle-check {
  font-size: 1.2rem;
  transition: transform 700ms;
  width: 23px;
  height: 23px;
}
main section .menu__bubble .bubble__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  width: 95%;
  overflow: hidden;
}
main section .menu__bubble .bubble__title {
  width: 80%;
}
main section .menu__bubble .bubble__title h3 {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 650px) {
  main section .menu__bubble .bubble__title h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 990px) {
  main section .menu__bubble .bubble__title h3 {
    font-size: 1rem;
  }
}
main section .menu__bubble .bubble__title p {
  font-size: 1.03rem;
  margin: 5px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
}
@media screen and (min-width: 650px) {
  main section .menu__bubble .bubble__title p {
    font-size: 1.15rem;
    height: 22px;
  }
}
@media screen and (min-width: 990px) {
  main section .menu__bubble .bubble__title p {
    font-size: 0.9rem;
  }
}
main section .menu__bubble span {
  font-weight: bold;
}
@media screen and (min-width: 650px) {
  main section .menu__bubble span {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 990px) {
  main section .menu__bubble span {
    font-size: 0.9rem;
  }
}

figure {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  margin: 0 0 20px 0;
  box-shadow: 0px 5px 15px -3px #b6b6b6;
}
@media screen and (min-width: 650px) {
  figure {
    height: 100%;
    margin-bottom: 25px;
  }
}
figure img {
  width: 100%;
  height: 166px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
@media screen and (min-width: 650px) {
  figure img {
    height: 156px;
  }
}
@media screen and (min-width: 990px) {
  figure img {
    height: 186px;
  }
}
figure .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 90px;
  height: 30px;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
}
@media screen and (min-width: 650px) {
  figure .new {
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {
  figure .new {
    font-size: 0.9rem;
  }
}
figure figcaption {
  position: relative;
  padding: 15px 15px;
}
@media screen and (min-width: 650px) {
  figure figcaption {
    padding-top: 10px;
  }
}
figure figcaption h4 {
  margin: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 650px) {
  figure figcaption h4 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 800px) {
  figure figcaption h4 {
    font-size: 1.15rem;
  }
}
figure figcaption h3 {
  margin: 5px 0 0 0;
  font-size: 1.1rem;
}
@media screen and (min-width: 650px) {
  figure figcaption h3 {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 800px) {
  figure figcaption h3 {
    font-size: 1.05rem;
  }
}
figure figcaption .heart {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 1.5rem;
}
@media screen and (min-width: 650px) {
  figure figcaption .heart {
    top: 10px;
  }
}
figure figcaption .fa-solid {
  color: #9356DC;
  opacity: 0;
}
figure figcaption .fa-solid:hover {
  animation: heart 400ms forwards;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  width: 220px;
  height: 50px;
  border: none;
  font-size: 1.03rem;
  box-shadow: 0px 5px 15px -3px #909090;
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
}
@media screen and (min-width: 650px) {
  .btn {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 800px) {
  .btn {
    font-size: 1.07rem;
  }
}
.btn::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
  box-shadow: 0px 5px 15px -3px #909090;
  opacity: 0;
}
.btn:hover {
  opacity: 0.9;
}
.btn:hover::after {
  opacity: 1;
}
.btn a {
  color: white;
}
.btn--center {
  margin: 50px auto 0 auto;
}
.btn--smaller {
  width: 190px;
}

footer {
  padding: 25px 0;
  color: white;
}
@media screen and (min-width: 990px) {
  footer {
    position: relative;
    z-index: 2;
  }
}
footer ul {
  line-height: 1.7;
  font-size: 1.05rem;
}
@media screen and (min-width: 650px) {
  footer ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 800px) {
  footer ul {
    font-size: 1rem;
  }
}
@media screen and (min-width: 650px) {
  footer ul li {
    width: 50%;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 800px) {
  footer ul li {
    width: 30%;
  }
}
@media screen and (min-width: 800px) {
  footer ul li:last-child {
    width: 10%;
  }
}
footer h5 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: lighter;
}
@media screen and (min-width: 650px) {
  footer h5 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 800px) {
  footer h5 {
    font-size: 1.2rem;
  }
}
footer a {
  color: white;
}
footer .fa-solid {
  margin-right: 5px;
}
footer .fa-utensils {
  font-size: 0.9rem;
}
footer .fa-handshake-angle {
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
