.btn {
    border-radius: 50px;
    width: 220px;
    height: 50px;
    border: none;
    font-size: 1.03rem;
    @include btn-background-color(basic);
    &:hover {
        @include btn-background-color(hover);
    }
    a {
        color: white;
        text-align: center;
    }
    &--center {
        margin: 50px auto 0 auto;
    }
    &--smaller {
        width: 190px;
    }
}

