.btn {
    align-items: center;
    border-radius: 50px;
    width: 220px;
    height: 50px;
    color: white;
    border: none;
    background: linear-gradient($secondaryColor, $primaryColor);
    font-size: 1.03rem;
    box-shadow: 0px 5px 15px -3px darken($backgroundColor, 40%);
}