@mixin flex {
    display: map-get($flex, display);
    justify-content: map-get($flex, content);
    align-items: map-get($flex, items);
}

@mixin large-mobile {
    @media screen and (min-width: map-get($breakpoints, large-mobile)){
        @content; 
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content; 
    }
}

@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)){
        @content; 
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content; 
    }
}

@mixin bg-img {
    background-size: map-get($bg-img, size);
    background-position: map-get($bg-img, position);
    background-repeat: map-get($bg-img, repeat);
    background-attachment: map-get($bg-img, attachment);
}
