footer {
    padding: 25px 0;
    color: white;
    ul {
        line-height: 1.7;
        font-size: 1.05rem;
    }
    h5 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: lighter;
    }
    a {
        color: white;
    }
    .fa-solid {
        margin-right: 5px;
    }
    .fa-utensils {
        font-size: .9rem;
    }
    .fa-handshake-angle {
        font-size: .7rem;
    }
}