footer {
    padding: 25px 0;
    color: white;
    @include desktop {
        position: relative; 
        z-index: 2;
    }
    ul {
        line-height: 1.7;
        font-size: 1.05rem;
        @include tablet {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: 1.15rem;
        }
        @include laptop {
            font-size: 1rem;
        }
        li {
            @include tablet {
                width: 50%;
                margin-bottom: 5px;
            }
            @include laptop {
                width: 30%;
            }
            &:last-child {
                @include laptop {
                    width: 10%;
                }
            }
        }
    }
    h5 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: lighter;
        @include tablet {
            font-size: 1.4rem;
        }
        @include laptop {
            font-size: 1.2rem;
        }
    }
    a {
        color: white;
    }
    .fa-solid {
        margin-right: 5px;
    }
    .fa-utensils {
        font-size: .9rem;
    }
    .fa-handshake-angle {
        font-size: .7rem;
    }
}