header {
    img {
    width: 170px;
    height: auto;
    margin: 20px 0;
    }
    a {
        position: absolute;
        left: 20px;
        font-size: 1.4rem;
        color: lighten(black, 20%);
    }
}