header {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include laptop {
            justify-content: flex-start;
            width: 90%;
        }
        img {
        width: 170px;
        height: auto;
        margin: 20px 0;
        }
        a {
            position: absolute;
            left: 20px;
            font-size: 1.4rem;
            color: lighten(black, 20%);
            @include laptop {
                left: 5%;
                color: transparent;
                width: 170px;
                height: 30px;
            }
        }
    }
}