header {
    height: 66px;
    display: flex;
    justify-content: flex-start;
    @include desktop {
        position: relative;
        z-index: 2;
    }
    .container {
        @include flex;
        @include laptop {
            justify-content: flex-start;
            width: 90%;
        }
        img {
            width: 170px;
            height: auto;
            margin: auto;
        }
        a {
            &:nth-child(2) {
                margin:auto;
            }
            i {
                font-size: 1.4rem;
                color: lighten(black, 20%);
                @include desktop {
                    display: none;
                }
            }
        }
    }
}